[flake8]
exclude = .git,
           */docs/*,
           */.tox/*,
           */.venv/*, 
           *migrations*,
            __pycache__, 
            manage.py, 
            settings.py
            
max-line-length = 119
